/* src/App.css */

.App {
  text-align: center;
  margin-top: 50px;
}

.buses {
  margin-bottom: 20px;
}

.bus-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bus-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bus-buttons button:hover {
  background-color: #0056b3;
}

.seats {
  margin-top: 20px;
}

.seat-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.seat {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.available {
  background-color: #b7ebc9;
}

.booked {
  background-color: #ff7f7f;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup button {
  margin-top: 10px;
}
